@import "~bootstrap/scss/bootstrap";

.modal {
  display: block;
  background-color: #0000005f;
}

.create-form {
  margin-top: 24px;
  border: solid 1px rgba(0, 0, 0, 0.176);
  border-radius: 10px;
  padding: 10px;
}

.suppliers {
  margin-top: 20px;
}

.line-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.info-container {
  display: flex;
  gap: 10px;
}

.buttons-container {
  display: flex;
  gap: 10px;
}
