@import "~bootstrap/scss/bootstrap";

body,
html {
  font-family: "Saira Semi Condensed", sans-serif;
}

.movie {
  display: flex;
  justify-content: space-between;
}

.modal {
  display: block;
  background-color: rgba(54, 56, 56, 0.4);
}

.toast-header {
  justify-content: space-between;
}
